.BriefRight {
    margin: 15px;
    border-radius: 5px;
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
    padding: 85px 30px 100px;
    color: var(--black);

}